/* Add your CSS here */


.welcomeparagraph {
    font-family: Arial sans-serif Helvetica;
    font-size:14px;
    color:#6a6969;
}
#entire {
    margin: 10% 20% 10% 20%;
}

.largeheaders {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#6a6969;
}
.welcomemessage {
    margin:-9% 5% 3% 36%;
}

#headerimage {
    float:left;
    padding:1.5% 0 1.5% 2%;
}
header {
    width:100%;
    height: 72px;
    background-color:#fffabe;
    box-sizing: border-box;

}
.container {
    margin: 0 10vw;
}
.nav {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    color:#515151;
    width:85%;
    float:right;
    margin-top:1%;
    text-align:center;

}
.navlist {
    margin: 0;
    padding: 1%;
}
.nav ul li {
    list-style-type: none;
    display:inline;
    padding:2%;
}
.navbar {
    display:inline;
}
.headerimage {
    padding:1.5%;
}

.days {
    display:inline-block;
    height:140px;
    width:126px;
    background-color:#fffabe;
    margin-left:5%;
}
.coconut {
    background-color:#824603;
    color:white;
}
.vanilla {
    background-color:#df5277;
    color:white;
}
.lemon {
    background-color:#a2304e;
    color:white;
}
.almond {
    background-color:#c39005;
    color:white;
}
footer {
    background-color: #df5277;
    width: 100%;
    height: 80px;
    display: inline;
}
footer li {

}

}